.container {
  width: 95%;
  margin: 6% auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(347px, 1fr));
  grid-column-gap: 5%;
  h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--dark-blue);
    margin-bottom: 5%;
  }
  p {
    color: var(--gray-color);
    font-size: 1.25rem;
    margin-bottom: 5%;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .link {
    color: var(--blue);
    text-decoration: none;
    font-size: 1.25rem;
  }
}
