.wrapper {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 95%;
  margin: auto;
  p {
    color: var(--gray-color);
    font-size: 1.25rem;
    font-weight: 400;
  }
  .h3 {
    font-size: 1.75rem;
    color: var(--dark-blue);
    font-weight: 600;
  }
}

.image {
  grid-area: 1 / 1 / 2 / 2;
  max-width: 433px;
  width: 100%;
  height: auto;
}

.client {
  grid-area: 1 / 2 / 2 / 3;
  background: linear-gradient(var(--backgr-color), var(--white-color));
  section {
    width: 80%;
    margin: auto;
  }
  .h3 {
    margin: 3rem 0 0.5rem;
  }
}

.result {
  grid-area: 2 / 1 / 3 / 3;
  p {
    margin-left: 3.1%;
  }
  .h3 {
    display: flex;
    align-items: center;
    margin: 3% 0 1%;
  }
  .h3::before {
    content: url("/icons/done.svg");
    margin-right: 1.5%;
  }
}

.color {
  display: block;
  background: url("/icons/gray-backgr.svg") no-repeat left;
  background-size: contain;
  max-width: 19rem;
  height: 5rem;
  width: 100%;
  margin: 2% 0;
}

@media (max-width: 1024px) {
  .wrapper {
    p {
      font-size: 1rem;
    }
    .h3 {
      font-size: 1.5rem;
    }
  }
}
@media (max-width: 768px) {
  .wrapper {
    p {
      font-size: 0.875rem;
    }
    .h3 {
      font-size: 1rem;
    }
  }
}
