.container{
    position: absolute;
    bottom: 0;
    background-color: rgba(212, 226, 247, 0.962);
    display: flex;
    max-width: 500px;
    z-index: 3;
    p{
        color: var(--black-color);
        margin: 2%;
    }
    img{
        margin: auto;
    }
    .close{
        margin: 2% 2% auto 2%;
        cursor: pointer;
    }
}
.none{
    display: none;
}