.container{
    position: fixed;
    bottom: 0;
    background-color: rgba(212, 226, 247, 0.962);
    display: flex;
    max-width: 500px;
    width: 100%;
    z-index: 3;
    p{
        color: var(--black-color);
        margin: 2%;
        flex-grow: 1
    }
    img{
        margin: auto;
    }
    .close{
        margin: 2% 2% auto 2%;
        cursor: pointer;
    }
}
.none{
    display: none;
}
@media (max-width: 357px) {
    .container{
        flex-wrap: wrap-reverse;
       p{
        font-size: .8rem;
       }
    }
}