.container {

  background-image: url("/icons/map.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  display: flex;

  @media (max-width: 580px) {
    flex-direction: column-reverse;
  }
}

.wrapper {
  margin: 4% 7%;
  h2 {
    margin: 5% 0;
  }
  p {
    font-size: 1.25rem;
    color: var(--gray-color);
    margin: 9% 0;
  }
}
