.form {
  width: 35%;
  margin: 3% 3% 3% auto;
  background-color: var(--white-color);
  box-shadow: 2px 2px 8px rgba(97, 96, 97, 0.621);
  padding: 2%;
  border-radius: 1%;

  input,
  textarea,
  select {
    width: 100%;
    padding: 12px 20px;
    // margin: 8px 0 1px 0;
    display: inline-block;
    border-radius: 0.5rem;
    border: 2px solid #e5edff;
  }
  textarea {
    height: 150px;
  }
  label {
    font-weight: 500;
    margin: 14px 0 2px 0;
    display: block;
  }
  .button {
    width: 40%;
    padding: 14px 20px;
    background-color: var(--dark-blue);
    color: var(--white-color);
    border-radius: 0;
    margin-right: 1%;

    &:active {
      transform: scale(0.9);
      background-color: #0a3f63;
    }
  }
}
@media (max-width: 1024px) {
  .form {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .form {
    width: 60%;
  }
}
@media (max-width: 580px) {
  .form {
    width: 95%;
  }
}

.error {
  font-size: small;
  color: red;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #ff3d00;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}
