.container {
  background-color: var(--backgr-color);
  height: 100vh;
  overflow: hidden;
}
.block {
  max-width: 96.5%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 5%;
  grid-row-gap: 7%;
}
.text {
  grid-area: 1 / 1 / 2 / 3;
}
