.acticle {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1.5fr 1fr;
  margin-top: 2%;
}

.text {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  max-width: 46rem;
  margin: auto 5%;
  h1 {
    margin-bottom: 2rem;
  }
}
.h6 {
  color: var(--gray-color);
  font-size: 1.25rem;
  font-weight: 400;
}
.image {
  grid-area: 1 / 2 / 3 / 3;
  background: url("/images/home_page_backgr.webp") no-repeat right top;
  background-size: contain;
  height: 35rem;
  width: 100%;

  span {
    background-color: var(--backgr-color);
    position: relative;
    bottom: 35%;
    display: block;
    width: 100%;
    height: 30rem;
    z-index: -1;
  }
}
.button {
  grid-area: 2 / 1 / 3 / 2;
  margin: 3rem 0 0 5%;
}
