.container {
  margin: 3% auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.text {
  max-width: 90%;
  margin: 0 auto;
  h6 {
    margin-top: 5%;
  }
}

.image {
  background: url("/images/about_backgr.webp") no-repeat top right 20%;
  background-size: contain;
  max-height: 35rem;
  height: 100vh;
  span {
    background-color: var(--backgr-color);
    position: relative;
    bottom: 5%;
    left: 50%;
    display: block;
    width: 40rem;
    height: 9rem;
    z-index: -1;
  }
}
