.container {
  margin: 3% auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  width: 93%;
  align-content: space-between;
}

.text {
  max-width: 90%;
}
.h6 {
  margin-top: 5%;
  color: var(--gray-color);
  font-size: 1.25rem;
  font-weight: 400;
}

.fon {
  position: relative;
  width: 100%;
  height: auto;
}

.image {
  background: url("/images/about_backgr.webp") no-repeat top right 20%;
  background-size: cover;
  display: block;
  width: 89%;
  height: 35rem;
  margin-left: auto;
  margin-bottom: 3rem;
}
.color {
  background-color: var(--backgr-color);
  position: absolute;
  top: -5%;
  left: 50%;
  display: block;
  width: 54%;
  height: 9rem;
  z-index: -1;
}
@media (max-width: 1024px) {
  .image {
    height: 27rem;
  }
}
@media (max-width: 768px) {
  .container {
    width: 95%;
    grid-template-columns: 2fr 1fr;
  }
  .image {
    height: 19rem;
    width: 95%;
  }
  .h6 {
    font-size: 1rem;
  }
}
@media (max-width: 580px) {
  .container {
    grid-template-columns: 1fr;
    align-content: center;
    grid-row-gap: 3rem;
  }
  .image {
    background-position: top right;
    width: 94%;
    margin: auto;
    height: 23rem;
  }
  .text {
    max-width: 95%;
    margin: auto;
  }
}
