.container {
  background: linear-gradient(var(--backgr-color), var(--white-color));
  overflow: hidden;
}
.block {
  max-width: 95%;
  margin: 3% auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 5%;
}
.text {
  grid-area: 1 / 1 / 2 / 3;
  h2 {
    margin-bottom: 5%;
  }
  h6{
    margin-bottom: 10%;
  }
}
.link {
  text-decoration: none;
  color: var(--blue);
  font-weight: 600;
  font-size: 1.125rem;
}
