.image_block {
  z-index: 1;
  position: relative;
}

.card {
  transition: padding 0.7s;
  text-align: center;
  width: 100%;
 

  .text {
    position: relative;
    padding: 2% 9% 0 9%;
    bottom: 130px;
    transition: bottom 0.7s;
  }
  .position{
    margin-top: 1.2%;
    color: var(--gray-color);
  }

  &:hover {
    background-color: var(--white-color);
    padding: 9% 9% 0 9%;
    margin: auto;
    box-shadow: 2px 2px 5px 8px rgba(158, 158, 158, 0.271);
    .text {
      bottom: 0px;
    }
  }
}
