.button {
  color: var(--white-color);
  font-size: 1.25rem;
  background-color: var(--dark-blue);
  padding: 1.2rem 2.5rem;
  text-decoration: none;
  text-align: center;
  max-width: 11.5rem;
  max-height: 3.5rem;
}
