* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}

:root {
  --white-color: #ffffff;
  --gray-color: #475467;
  --dark-blue: #083554;
  --blue: #286ac6;
  --black-color: #000;
  --backgr-color: #f5f8ff;
}
h1 {
  font-size: 4vw;
  font-weight: 600;
  color: var(--dark-blue);
}
h2 {
  font-size: 2.5vw;
  font-weight: 600;
  color: var(--dark-blue);
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
}

/* h3 {
  font-size: 1.75rem;
  color: var(--dark-blue);
  font-weight: 600;
}
h4 {
  font-size: 1.5rem;
  color: var(--dark-blue);
  font-weight: 600;
}
h5 {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--blue);
}
h6 {
  color: var(--gray-color);
  font-size: 1.25rem;
  font-weight: 400;
} */
