.container {
  margin: 5% auto;
  text-align: center;
  width: 90% ;

  p {
    color: var(--gray-color);
    font-size: 1.25rem;
    margin: 6% 0;
  }
}
.link {

  font-size: 1.5rem;
  color: var(--blue);
  text-decoration: none;
  
}
