.header {
  width: 95%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr 0.1fr;
  align-items: center;
  grid-column-gap: 1%;
}
.navigation {
  display: flex;
  flex-wrap: nowrap;
  gap: 5%;
}
.link {
  color: var(--gray-color);
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 600;
}
.active {
  color: var(--black-color);
}
.button {
  min-width: 11rem;
  max-width: 12rem;
  border: 2px solid var(--blue);
  color: var(--blue);
  font-size: 1.125rem;
  font-weight: 500;
  background-color: var(--backgr-color);
  padding: 7% 14%;
  text-decoration: none;
  text-align: center;
}
.select {
  border: none;
  color: var(--gray-color);
  font-size: 1.125rem;
  background-color: rgba(255, 255, 255, 0);
}
.burger_icon {
  display: none;
}

@media (max-width: 1024px) {
  .header {
    grid-template-columns: 1fr 5fr 0.2fr;
  }
  .button {
    display: none;
  }
}


@media (max-width: 768px) {
  .header {
    grid-template-columns: 4fr 0.2fr 0.3fr;
    grid-column-gap: 6%;
  }
  .navigation {
    display: none;
  }
  .burger_icon {
    display: block;
  }
}
