.container {
  background-color: var(--dark-blue);
}
.wrapper {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 3%;
  padding: 4rem 0rem;
  border-bottom: 0.6px solid rgba(255, 255, 255, 0.32);

  .link,
  p {
    color: var(--white-color);
    margin-bottom: 0.3rem;
    font-size: 0.875rem;
    font-weight: 400;
    text-decoration: none;
  }

  .title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2%;
  grid-row-gap: 6%;
  overflow: hidden;
}
.bottom_wrraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 95%;
  margin: 3% auto;
  img {
    width: 100%;
    max-width: 132px;
    height: auto;
  }
}
.copiright {
  color: rgba(242, 242, 242, 0.72);
  font-size: 0.875;
}
.logo{
  max-width: 235px;
  width: 100%;
  height: auto;
}
@media (max-width: 1024px) {
  .container {
    section {
      margin: 4% 0;
    }
  }
  .wrapper {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .services {
    grid-template-columns: 1fr 1fr;
   
  }
}
@media (max-width: 580px) {
  .services {
    grid-template-columns: 1fr;
  }
  .copiright {
   margin: 3% 0;
  }
}
