.container {
  background-color: var(--dark-blue);
}
.wrapper {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 4rem 0rem;

  .link,
  p {
    color: var(--white-color);
    margin-bottom: 0.3rem;
    font-size: 0.75rem;
    font-weight: 400;
    text-decoration: none;
  }

  .title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}
.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 2%;
  grid-row-gap: 4%;
}
