.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  grid-column-gap: 2%;
  width: 95%;
  margin: auto;
}
.block {
  box-shadow: 10px 10px 15px 12px rgba(215, 215, 215, 0.204);
  text-align: center;
  margin: 3rem auto;
  max-width: 20rem;
  width: 100%;
}
.icon {
  position: relative;
  bottom: 2rem;
  filter: drop-shadow(1px 1px 20px rgba(175, 175, 175, 0.459));
  width: auto;
  height: auto;
}
.h4 {
  margin: 0rem 1% 5% 0rem;
  font-size: 1.5rem;
  color: var(--dark-blue);
  font-weight: 600;
}
.h6 {
  margin: 0 5% 5% 5%;
  color: var(--gray-color);
  font-size: 1.25rem;
  font-weight: 400;
}
