.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 2%;
  width: 95%;
  margin: auto;
}
.block {
  box-shadow: 10px 10px 15px 12px rgba(215, 215, 215, 0.204);
  text-align: center;
  margin: 4rem auto;

  h4,
  h6 {
    margin: 0rem 1% 5% 0rem;
  }
}
.icon{
    position: relative;
    bottom: 2rem;
}