.container {
  max-width: 305px;
  width: 100%;
  height: auto;
  min-height: 358px;
  background-color: var(--white-color);
  box-shadow: 2px 2px 8px rgba(125, 124, 127, 0.621);
  margin: 2rem 0;
  img {
    width: 100%;
    object-fit: cover;
    padding: 3%;
    max-width: 316px;
  }
  p {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--dark-blue);
    padding: 3%;
  }
}
.link {
  text-decoration: none;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .container {
    p {
      font-size: 1.25rem;
    }
  }
}

@media (max-width: 580px) {
  .container {
    margin-bottom: 5rem;
    min-height: 278px;
    max-width: 580px;
    img {
      max-width: 580px;
    }
    p {
      font-size: 1rem;
     
    }
  }
}
