.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5%;
  margin: 5% auto 10% auto;
}
.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  box-shadow: 0px 16px 46px 0px rgba(179, 179, 184, 0.527);
  max-width: 500px;
  width: 100%;
  min-height: 178px;
  padding: 6% 4%;
  margin: 0 auto;
  p {
    color: var(--gray-color);
    font-size: 1.25rem;
    text-align: center;
  }
  .number {
    color: var(--blue);
    font-size: 2rem;
    font-weight: 600;
  }
}
