.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3%;
  margin: 5% auto 10% auto;

  img {
    max-width: 429px;
    width: 100%;
    height: auto;
  }
}
.wrapper {
  background: linear-gradient(var(--backgr-color), var(--white-color));
}
.block {
  width: 80%;
  margin: auto;
  .bolt {
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--dark-blue);
    margin-top: 7%;
    margin-bottom: 2%;
  }
  p {
    color: var(--gray-color);
    font-size: 1.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 1024px) {
  .block {
    .bolt {
      font-size: 1.25rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
@media (max-width: 768px) {
  .block {
    .bolt {
      font-size: 0.875rem;
    }
    p {
      font-size: 0.7rem;
    }
  }
}
@media (max-width: 580px) {
  .container {
    grid-template-columns: 1fr;
    img {
      margin: auto;
    }
  }
  .wrapper{
    margin: 5% 0;
  }
}
