.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5%;
  margin: 5% auto;
}
.block {
  background-color: var(--white-color);
  box-shadow: 0px 16px 46px 0px rgba(179, 179, 184, 0.527);
  max-width: 500px;
  width: 100%;
  min-height: 178px;
  height: auto;
  padding: 6% 4%;

  .bolt {
    color: var(--dark-blue);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 3%;
  }
  p {
    color: var(--gray-color);
    font-size: 1.25rem;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .block {
    min-height: 100px;
    .bolt {
      font-size: 1.25rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
  }
  .block {
    .bolt {
      font-size: 0.875rem;
    }
    p {
      font-size: 0.7rem;
    }
  }
}
@media (max-width: 580px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
  .block {
    .bolt {
      font-size: 0.975rem;
    }
    p {
      font-size: 0.875rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
