.title {
  margin: 2rem 2rem;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 10%;
  width: 95%;
  margin: auto;
  .h5 {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--blue);
  }
  .h6 {
    margin-top: 0.3rem;
    margin-bottom: 1.5rem;
    color: var(--gray-color);
    font-size: 1.25rem;
    font-weight: 400;
  }
}

.image {
  width: 100%;
  max-width: 400px;
  height: auto;
}
